@import "../../variables";

$monthViewDayGridSize: 30px;
$horizontalGridGap: 0px;
$verticalGridGap: 5px;
$border: 0px;
$horizontalPadding: 0.5rem;
$verticalPadding: 0.5rem;

.dateRangeInput{
  max-width: calc(#{$monthViewDayGridSize} * 7 + #{$horizontalGridGap} * 6 + #{$border} * 2 + #{$horizontalPadding} * 2);
  display: grid;
  grid-gap: $verticalGridGap $horizontalGridGap;
  background: white;
  padding: $verticalPadding $horizontalPadding;
  grid-template-columns: repeat(7, 1fr);

  .monthName {
    grid-column: 1/6;
    display: flex;
    align-items: center;
    background: #ffffff;
  }
  
  .monthAction {
    width: $monthViewDayGridSize;
    height: $monthViewDayGridSize;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
  }
  
  .weekDayName {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: $monthViewDayGridSize;
    height: $monthViewDayGridSize;
    overflow: hidden;
    font-size: 0.7rem;
  }
  
  .isToday {
    span {
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 100%;
    }
  }


  .monthViewGridDay {
    width: $monthViewDayGridSize;
    height: $monthViewDayGridSize;
    font-size: 0.8rem;
    background: #ffffff;
    display: flex;
    transition: 50ms all;
    cursor: pointer;
    padding: 3px;
    
    span {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      background-color: $orange-hover;
      color: white;
    }
  }

  .isInRange {
    background-color: rgba($orange-hover, 0.5);
    color: white;
  }

  .isInRangeAndNotSelected {
    background-color: rgba($orange-hover, 0.1);
  }

  .isInRangeAndSelected {
    background-color: #FBA587;
    color: white;
  }

  .isSelected {
    background-color: $orange;
    color: white;
  }

}