# IDEs folders
/.vs
/.vscode
/.idea
/.git

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
x64/
x86/
build/
lib/
bld/
dist/
temp/
packages/
TestResults/
tsdoc-metadata.json
ReApptor.TypeScript.Linq/etc/
# Package managers
node_modules/
package-lock.json

# Test coverage
coverage/
!coverage/coverage-summary.json

#documentation
Documentation/docs
