@import "../../variables";

.actions {
  position: absolute;
  min-width: calc(150% + 50px);
  border-radius: 0.25rem;
  border: 1px solid #ccc !important;
  top: calc(100% + 1px);
  left: calc(-100% - 95px);
  text-align: left;
  z-index: 10;
  font-family: "DINProMedium", Arial, sans-serif;
  font-size: 14px;

  &.color_grey {
    background-color: white !important;
    color: $text-black !important;

    .action {
      &:hover {
        background-color: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }

  &.color_orange {
    background-color: $orange !important;
    color: white !important;

    .action {
      &:hover {
        background-color: rgba(240, 80, 0, 0.8) !important;
      }
    }
  }

  &.color_unset {
    color: #000000 !important;
    background-color: #ffffff !important;
    border-color: black;

    .action {
      &:hover {
        background-color: rgba(140, 140, 140, 0.8) !important;
      }
    }
  }

  .action {
    padding: 16px 50px;
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      flex: 1;
    }

    i:last-child {
      padding-right: 0;
    }

    > i {
      padding-right: 12px;
    }

    &:hover {
      filter: alpha(opacity=60);
    }
  }
  

}