.locationPickerModal {
    :global {
        .modal-dialog {
            max-width: 674px !important;
        }

        .infoContent {
            display: flex;
            flex-direction: column;

            .address {
                font-weight: 600;
            }

            .dms {
                font-size: 12px;
            }
        }
    }
    
    .map {
        padding-bottom: 1rem;
    }
    
    .address {
        height: 100%;
        width: 500px;
        display: flex;
        flex-direction: column;
        
        .coordinate {
            display: flex;
            align-items: center;
            
            span {
                font-size: 12px;
            }
            
            span.separator {
                margin: 0 8px;
                display: block;
                width: 1px;
                height: 70%;
                background-color: black;
            }
        }
        
        .dms {
            font-size: 12px;
        }
    }
}