@import "../../variables";

.navigation {
    background-color: $orange;
    box-shadow: $renta-shadow;
    height: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .left {
        display: flex;
        height: inherit;
        align-items: center;
        position: absolute;
        left: 0;

        &_backIcon {
            color: white;
            cursor: pointer;
            padding: 0 12px;
            margin-right: -$baseline;
            height: inherit;
            display: none;
            align-items: center;

            i {
                font-size: 1.6em;
            }

            &:hover {
                background-color: $dark-orange;
            }

            @media screen and (max-width: $break-md) {
                display: flex;
            }

            @media screen and (max-width: $break-xs) {
                margin-left: 0;
                margin-right: 0;
                padding-left: 6px;
                padding-right: 6px;
            }
        }

        &_leftNav {
            color: white;
            cursor: pointer;
            text-align: center;
            min-width: 25px;

            @media screen and (min-width: $break-xs) {
                min-width: 32px;

                &:not(:first-child) {
                    padding-left: 6px;
                }
            }
        }

        img {
            height: $baseline * 4;
            margin: 0 12px;
            cursor: pointer;

            @media screen and (max-width: $break-xs) {
                height: $baseline * 3;
                margin-left: 6px;
                margin-right: 6px;
            }

            @media screen and (max-width: $break-xxs) {
                height: $baseline * 2;
            }
        }

        span {
            font-size: 1.8em;
            color: white;
            opacity: 0.9;
            margin-bottom: -4px;
            white-space: nowrap;

            @media screen and (max-width: $break-xxs) {
                font-size: 1.4em;
            }
        }
    }

    .middle {
        display: flex;
        height: inherit;

        &_link {
            padding: 0 $baseline * 2;
            height: inherit;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $dark-orange;
            }

            &.active {
                text-decoration: underline;
            }

            @media screen and (max-width: $break-xxlg) {
                display: none;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;

        &_search {
            margin-left: 6px;
            margin-right: 6px;
            color: #ffffff;
            cursor:pointer;
        }

        &_shoppingCart {
            color: #ffffff;
            cursor:pointer;
        }

        &_shoppingCartCount {
            font-size: 12px;
            background: #000000;
            color: #fff;
            vertical-align: top;
            margin-left: -10px;
            margin-top: -15px;
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }

        &_notifications {
            color: #ffffff;
            cursor:pointer;
            margin-left: 6px;
            margin-right: 6px;
        }

        &_notificationsCount {
            font-size: 12px;
            background: #000000;
            color: #fff;
            vertical-align: top;
            margin-left: -18px;
            margin-top: -15px;
            padding-left: 9px;
            padding-right: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
        }

        &_infoIcon {
            color: white;
            margin: 0 12px;
            cursor: pointer;

            @media screen and (max-width: $break-xs) {
                margin-left: 6px;
                margin-right: 6px;
            }
        }

        &_hamburgerIcon {
            display: none;
            cursor: pointer;
            color: white;
            margin: 0 12px;
            width: 25px;
            z-index: 1;

            @extend .hover;

            @media screen and (max-width: $break-xs) {
                margin-left: 6px;
                margin-right: 6px;
            }

            @media screen and (max-width: $break-xxlg) {
                display: flex;
            }
        }
    }

    .hover {
        &:hover {
            color: black;
        }
    }
}