@import "../../../variables";

.organizationPanel {
    .virtualAddress {
        height: 100%;
        width: 260px;
        display: flex;
        align-items: baseline;

        > div {
            margin-right: $baseline;
            width: 32px;
        }
    }
}