@import "../../variables";

.listWrapper {
  height: 100%;

  .list {
    height: 100%;

    > div {
      > label {
        margin-bottom: 0;
      }
    }

    div {
      span {
        text-transform: initial !important;
      }

      input {
        font-size: 0.8rem !important;
        padding: 0.35rem !important;
      }
    }

  }
}