@import "../../variables";

.form {
    width: 100%;

    &.inline {
        width: auto;
    }
    
    .errorList {
        padding-left: 17px;
        margin-bottom: $baseline;
        color: $danger;
    }
    
    .inputGroup {
        width: 100%;
        margin-bottom: 15px !important;
        
        label {
            display: block;
            margin-bottom: 5px;
        }
        
        .inputContainer {
            width: 100%;
            position: relative;

            input {
                min-width: 70px;
            }

            span.value {
                height: calc(1.5em + 0.75rem + 2px);
                display: flex;
                align-items: center;
                cursor: text;
            }
            
            &.validationError {
                input {
                    border-color: $danger;
                }
                
                textarea {
                    border-color: $danger;
                }
            }
        }

        .validationError {
            color: $danger;
            
            &.append
            {
                border-color: $danger;
            }

            &.prepend
            {
                border-color: $danger;
            }
        }
        
        .required {
            margin-left: 2px;
        }
        
        .prepend {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
            
            > input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        
        .append {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0;
            
            > input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        
        .focused {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            border-radius: 0.25rem;
        }
        
        .file {
            .dropZone {
                height: 200px;
                background-color: aliceblue;
                border: 2px dashed #ccc;
                border-radius: 5px;
                margin-bottom: 15px;

                label {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: copy;
                    
                    .preview {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        
                        .image {
                            height: 85%;
                            width: 85%;
                            margin: 0 auto;
                            background-position: center !important;
                            background-repeat: no-repeat !important;
                            background-size: contain !important;
                        }
                    }
                }
            }
            
            .selectedFile {
                font-size: 1.5em;
                
                i {
                    color: $danger;
                    margin-left: $baseline;
                    cursor: pointer;
                }
            }
        }
        
        .number {
            position: relative;
            
            input[type="number"] {
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            
            .arrowContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 1px;
                height: 100%;
                width: 20px;
                border-left: 1px solid #d4d4d4;
                color: #d4d4d4;
                cursor: pointer;
            }
        }

        .slider {
            
        }
    }

    .label {
    }
}

.inlineInputGroup {

    .inputGroup,
    &.inputGroup {
        margin-bottom: 0 !important;
    }

    .label {

        label {
            margin-bottom: 0;
            padding-right: 0.25rem !important
        }
    }
}

.inputContainer {
    width: 100%;
    
    input {
        min-width: 70px;
    }
    
    span.value {
        height: calc(1.5em + 0.75rem + 2px);
        display: flex;
        align-items: center;
        cursor: text;
    }

    .number {
        position: relative;

        input[type="number"] {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            -moz-appearance: textfield;
        }

        .arrowContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 1px;
            height: 100%;
            width: 20px;
            border-left: 1px solid #d4d4d4;
            color: #d4d4d4;
            cursor: pointer;
        }
    }
    
    .slider {
        width: 100%;
    }
}