@import "../../variables";

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .row {
        display: flex;
        flex-wrap: wrap;
        
        &.left {
            justify-content: flex-start;
            flex-grow: 1;
        }
        
        &.right {
            justify-content: flex-end;
            
            &.margin {
                margin-left: $baseline;

                @media screen and (max-width: $break-md) {
                    margin-left: 0 !important;
                    margin-top: $baseline;
                }
            }
        }
        
        &.empty {
        }

        button {
            margin-bottom: auto;
            
            &:not(:global(.btn-block)) {
                &:not(:first-child) {
                    margin-left: $baseline;
                }
            }
        }

        @media screen and (max-width: $break-md) {
            width: 100%;
            
            button {
                display: block;
                width: 100%;
                
                &:not(:global(.btn-block)) {
                    margin-left: 0 !important;

                    &:not(:first-child) {
                        margin-top: $baseline;
                    }
                }
            }
        }
    }
    
}