@import "../../variables";

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
    .left {
        padding-right: 0;
        margin: 0 !important;
        
        button {
            margin-right: $baseline;
        }
        
        @media screen and (max-width: $break-md) {
            padding-right: 15px;
            
            button {
                display: block;
                width: 100%;
                margin-bottom: $baseline;
            }
        }
    }
    
    .right {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        margin: 0 !important;

        @media screen and (max-width: $break-md){
            padding-left: 15px;
            
            button {
                display: block;
                width: 100%;
                margin-bottom: $baseline;
                
                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}