.leftNavTests {
  min-height: 600px;
  
  .leftNavContainer {
    
    position: relative;

    .leftMenu {

      > div {

        > div {
          
          > div:last-child {
            padding: 30px;
            height: 100%;
          }
          
        }

      }

    }
    
  }
  
  .expander {
    min-width: 50px;
    margin-bottom: 10px;
  }
  
}