$border: 1px solid rgba(0,0,0,0.1);
$border-active: 1px solid rgba(0, 0, 0, 0.3) !important;

.activeListViewItem {
  border: $border-active;
}

.listViewItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
  margin: 0.5rem;
  border: 1px solid transparent;
  overflow-wrap: anywhere;
  min-height: 200px;


  &[app-multiple=true] {
    &:hover {
      border: $border;
      cursor: pointer;
    }
    flex-wrap: wrap;
    .listViewItemThumbnail {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      min-height: 150px;
      min-width: 300px;
      display: flex;
      align-items: center;
    }

    .listViewItemName {


    }
  }

  &[app-multiple=false] {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;


    .listViewItemThumbnail {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .listViewItemName {


    }
  }

}
