@import "../../variables";

.tabContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 100%;

    .underlineTabStyle {
        font-size: 20px;
        border: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;

        text-decoration: underline;
        text-decoration-thickness: 5px !important;
        text-decoration-skip-ink: none;
    }

    .underlineTabStyleActive {
        @extend .underlineTabStyle;

        color: $text-black !important;
        text-decoration-color: $orange !important;

        &:hover{
            text-decoration-color: $orange !important;
            text-decoration: underline;
        }
    }

    .underlineTabStyleInactive {
        @extend .underlineTabStyle;

        color: $text-black !important;
        text-decoration-color: $grey !important;

        &:hover{
            text-decoration-color: $grey !important;
            text-decoration: underline;
        }
    }
    
    .navigationContainer {
        position: relative;

        .navigationIcon {
            padding: 10px 4px;
            top: 0;
            position: absolute;
            cursor: pointer;
            z-index: 1;
            border-radius: 5px;
            color: $orange;
            display: none;
            
            &.left {
                left: -16px;
            }
            
            &.right {
                right: -16px;
            }
        }
        
        .scrollableContainer {
            position: relative;
            height: 52px;
            overflow: hidden;
            overflow-x: auto;
            scroll-behavior: smooth;

            ul {
                position: absolute;
                white-space: nowrap;
                flex-wrap: nowrap;
            }
        }
    }
    
    .tab {
        position: relative;
        
        .closed {
            display: none;
        }
        
        .icon {
            &.hasText {
                margin-left: -$baseline*0.5;
                margin-right: $baseline*0.5;
            }
        }
        
        .close {
            margin-left: $baseline;
            cursor: pointer;
            opacity: 0.3;

            &:hover {
                opacity: 1;
            }
        }
        
        .count {
            position: absolute;
            right: -10px;
            top: -7px;
            padding-left: 9px;
            padding-right: 9px;
            font-size: 12px;
            background: #000000;
            color: #fff;
            vertical-align: top;
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
        }
    }
    
    //.tabContent {
    //    display: none;
    //    opacity: 0;
    //    transition: opacity 0.2s;
    //    
    //    &.active {
    //        display: block;
    //        opacity: 1;
    //    }
    //}
}