@import "../../variables";
@import "../PageContainer/PageContainer.module";

.layout {
    display: flex;
    flex-direction: column;
    height: inherit;

    @media screen and (max-width: $break-md) {
        overflow-x: hidden;
    }

    .main {
        background-color: inherit;
        margin-top: 45px;
        flex-grow: 2;
        flex-basis: 0;

        &.leftNav {
            display: flex;
            position: relative;

            > div {
                flex-grow: 2;
            }
        }

        .leftNav {
            z-index: 1000;
        }
    }

    .swipeRight {
        margin-left: 99%;
        margin-right: -99%;
        transition: all 0.2s ease-out;
    }

    .swipeLeft {
        margin-right: 99%;
        margin-left: -99%;
        transition: all 0.2s ease-out;
    }

    .row {
        @extend .row;
    }
}
