@import "../../../../variables";

.switch {
    width: 56px;
    height: 32px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
    position: relative;
    cursor: pointer;

    .toggler {
        position: absolute;
        top: -1px;
        left: -1px;
        height: inherit;
        width: 20px;
        border: inherit;
        border-radius: 5px;
        background-color: white;
        transition: all .3s ease;
    }
    
    &.readonly {
        opacity: 0.5;
        cursor: not-allowed;
    }

    transition: all .3s ease;
}

.checked {
    @extend .switch;
    background-color: $orange;

    .toggler {
        @extend .toggler;
        background-color: white;
        left: 35px;
    }
}

.container {
    display: flex;
    align-items: center;
    
    .nullableSwitch {
        @extend .switch;
        background-color: lightgrey;
        width: 84px;
        display: flex;

        .toggler {
            @extend .toggler;
            left: calc(50% - 10px);
        }

        .zone {
            width: 100%;
        }
    }

    .nullableSwitchChecked {
        @extend .nullableSwitch;
        background-color: #28a745;

        .toggler {
            @extend .toggler;
            background-color: white;
            left: calc(100% - 19px);
        }
    }

    .nullableSwitchUnchecked {
        @extend .nullableSwitch;
        background-color: #dc3545;

        .toggler {
            @extend .toggler;
            background-color: white;
            left: -1px;
        }
    }

    .label {
        &:first-of-type {
            margin-right: 4px;
        }

        &:last-of-type {
            margin-left: 4px;
        }
    }
}