@import "../../../variables";

.steps {
    .content {
        cursor: default !important;
    }

    .content:hover {
        background-color: $orange !important;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        @media screen and (max-width: $break-md) {
            margin-top: 0;
        }

        .iconContainer {
            display: flex;
            position: relative;
            color: white;
            opacity: 0.5;

            .icon {
                font-size: 1.5em;
            }

            .number {
                font-size: 0.8em;
                position: absolute;
                padding-bottom: 1px;
                width: 100%;
                display: inline;
                align-self: center;
                text-align: center;
            }

            &.completed {
                opacity: 1;
            }
        }

        .separator {
            height: 2px;
            flex-grow: 1;
            background-color: white;
            opacity: 0.5;

            &.completed {
                opacity: 1;
            }
        }

        .completed {
        }
        
        .title {
            position: absolute;
            font-size: 11px;
            width: 80px;
            left: -28px;
            top: -21px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            &.first {
                left: -3px;
                text-align: left;
            }
            
            &.last {
                left: -58px;
                text-align: right;
            }
        }
    }
}