@import "../../../variables";


.dropdown {
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
  color: #ffffff;
  cursor: pointer;

  .searchInput {
    margin-bottom: 0 !important;
  }

  .searchContainer {
    color: white;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 37px;
    margin: 0;
    padding: 5px 5px;
    background-color: #ee5300;
    border-radius: 5px;
    height: auto;
    z-index: 11;
    display: none;
    border: $renta-border;
    box-shadow: $renta-shadow;

    @media screen and (max-width: $break-sm) {
      right: -65px;
    }

  }

  &_open {
    composes: searchContainer;
    display: block !important;
  }
}