@import "../../variables";

.leftNav {
  
  display: flex;
  width: fit-content;
  background-color: $orange;
  color: white;
  
  &.fixed {
  }
  
  &.absolute {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
  }
  
  &.expanded {
  }
  
  &.collapsed {
    width: 0;
  }
  
  .container {

    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    &.expanded {
    }
    
    &.collapsed {
    }

    .userProfileContainer {      
    }
    
    .itemsContainer {

      display: flex;
      flex-direction: column;
      height: 100%;
      
      .expander {
        flex-grow: 1;
      }
      
    }
    
  }
  
}