@import "../../../variables";

.title {
    .shrink {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        width: calc(100vw - 120px);
        display: inline-block;
        white-space: nowrap;
    }
}