@import "../../../variables";

.collapsedRow {
  
  &:hover {
    background-color: inherit !important;
  }

  > td {
    
    border: none !important;
    padding: 0 !important;
    
    table {
      width: 100%;

      tr {

        td:first-child {
          width: auto;
          text-align: left;
          border-left: none;
          
          > span {
            display: inline-block;
            width: 100%;
          }
        }

        td:last-child {
          width: 100%;
          border-right: none;
        }

      }

    }

  }
  
}