@import "../../variables";
@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";

.widgetContainer {
    @include make-row();
    max-width: 640px;
    width: 100%;
    margin: 0 auto;

    .widget {
        padding: 4px 6px;
        
        &.readonly {
            opacity: 0.8;
            pointer-events: none;
            cursor: not-allowed;
        }
        
        &.approved {
            opacity: 1;
            
            a {
                background-color: #28a745;
                
                &:hover {
                    background-color: #28a745;
                }
            }
        }
        
        a, .content {
            text-decoration: none;
            color: white;
            background: $orange;
            border-radius: 5px;
            box-shadow: $renta-shadow;
            text-align: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 12px;
            width: 100%;
            cursor: pointer;

            .icon {
                padding: 10px 10px 14px;

                &_hidden {
                    visibility: hidden;
                }
            }

            .number {
                padding: 10px 10px 14px;
                font-size: 4em;
                line-height: 42px;

                span:empty:before {
                    content: "\200b";
                }

                @media screen and (max-width: $break-md) {
                    font-size: 3em;
                }
            }

            .smallNumbers {
                span > small {
                    font-size: 50%;
                }
            }
            
            .date {
                @extend .number;
                
                font-size: 2rem;
            }

            .description {
                border-top: 1px solid;
                font-size: 0.85em;
                padding-top: 0.5em;
                display: flex;
                flex-grow: 0;
                justify-content: center;
                align-items: center;

                span:empty:before {
                    content: "\200b";
                }
            }

            .contentContainer {
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-grow: 1;
                
                .numberWidget {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 10px 0 14px;

                    &.edit {
                        input {
                            width: 100px;
                            margin-bottom: 3px; //4px
                            margin-top: 4px;    //8px
                        }
                    }

                    &.readonly {
                        opacity: 0.5;
                        cursor: default;
                    }

                    .disabled {
                        opacity: 0.5;
                        pointer-events: none;
                    }

                    .number {
                        width: 100px;
                        padding: 0;
                    }
                }

                .qr {
                    display: flex;
                    justify-content: center;
                    padding: 10px 0 14px;
                }
                
                .signature {
                    padding: 8px 0 12px 0;
                    
                    .signaturePad {
                        background-color: #ff7e51;
                        border-radius: 5px;
                        width: 100%;
                        height: 200px;
                        cursor: pointer;
                    }
                    
                    .buttonContainer {
                        display: flex;
                        justify-content: space-between;
                        padding-top: $baseline;
                        
                        button {
                            display: block;
                            width: 100%;
                            
                            &:first-child {
                                margin-right: $baseline;
                            }
                        }
                    }
                }
            }

            .compactContainer {
                display: none;
                align-items: center;
                
                .status {
                    display: none;
                }
                
                .dropdownWidget {
                    display: none;
                }

                .numberWidget {
                    &.edit {
                        input {
                            width: 74px;
                            margin-right: 10px;
                        }
                    }

                    &.readonly {
                        opacity: 0.5;
                        cursor: default;
                    }

                    .number {
                        padding: 0 10px 0 0;
                    }

                    .disabled {
                        opacity: 0.5;
                        cursor: default;
                    }

                    i {
                        display: none;
                    }
                }

                .icon {
                    @extend .icon;
                    padding: 0 10px 0 0;
                }

                .number {
                    @extend .number;
                    padding: 0 10px 0 0;
                }

                .labelAndDescription {
                    width: 100%;
                    word-break: break-word;
                    .description {
                        @extend .description;
                        
                        display: block;
                    }
                    
                    .label {
                        @extend .label;
                        
                        display: block;
                    }
                }
            }
        }

        a:hover, .content:hover {
            background-color: $orange-hover;
        }

        .compact {
            .contentContainer {
                display: none;
            }
            
            .description {
                display: none;
            }
            
            .label {
                display: none;
            }

            .compactContainer {
                display: flex;
            }
        }

        .transparent {
            background: rgba(234, 60, 0, 0.5);
        }

        .transparent:hover {
            background: rgba(234, 60, 0, 0.6);
        }
        
        .switchContent {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 10px 14px;
            line-height: 42px;
            
            .status {
                width: 76px;
            }
            
            .switch {
                width: 56px;
                height: 32px;
                border: 1px solid lightgrey;
                border-radius: 5px;
                background-color: white;
                position: relative;
                
                .toggler {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    height: inherit;
                    width: 20px;
                    border: inherit;
                    border-radius: 5px;
                    transition: all .3s ease;
                }
            }

            .checked {
                @extend .switch;
                background-color: $orange;

                .toggler {
                    @extend .toggler;
                    
                    background-color: white;
                    left: 35px;
                }
            }
        }
        
        .textInput {
            .inputContainer {
                padding: 10px 10px 14px;
                margin: 2px 0;
                text-align: left;
                position: relative;
                
                > input {
                    margin-top: 1px;
                    margin-bottom: 2px;
                }
                
                .autoCompleteToggler {
                    position: absolute;
                    color: black;
                    right: 1.3rem;
                    top: 1.3rem;
                }
                
                .autoCompleteContainer {
                    padding: 0 10px;
                    position: relative;
                    
                    &.mobile {
                        padding: 0;

                        .autoComplete {
                            position: unset;
                            border: none;
                            box-shadow: none;
                            background-color: inherit;
                        }
                    }
                }
            }
            
            .valueContainer {
                height: 66px;
                display: flex;
                justify-content: center;
                align-items: center;
                word-break: break-word;
                
                > span {
                    max-height: 100%;
                    max-width: 100%;
                    overflow: hidden;
                }
            }
        }
        
        .products {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            .category {
                width: 100px;
                height: 100px;
                margin: auto;
                background-color: $orange-hover;
            }
        }

        &.checkStepContainer {
            background: $orange;
            padding: 15px;
            border-radius: 10px;

            > a {
                background: transparent;
                box-shadow: none;
                border-radius: 0;
                padding: 0;
                text-align: left;
            }

            .checkStep {
                i {
                    color: white;
                }
            }
        }
    }

    .bar {
        height: 143px;

        .barContainer {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;

            .labels {
                text-align: left;
                width: auto;
                min-width: 180px;
                left: 0;
                align-self: flex-start;
                float: left;
                padding: 8px;
                border-radius: 5px;
                background-color: #ea3c00;
                opacity: 0.7;
                margin-left: -6px;
                margin-top: -6px;
                font-size: 0.8em;
                position: absolute;
                
                .labelsContainer {
                    display: none;
                }

                span {
                    display: block;
                }
                
                .averageRent {
                    
                }
            }

            .sets {
                width: 100%;
                
                .setsContainer {
                    display: flex;
                    height: calc(100% - 18px);
                    border-right: 1px dashed #ffd1bb;
                    
                    span {
                        min-width: 4px;
                        width: 100%;
                        align-self: flex-end;
                        margin: 0 2px;

                        &.color1 {
                            background-color: #dd3162;
                            border: 1px solid #ff6384;
                        }

                        &.color2 {
                            background-color: rgba(49, 175, 212, 0.5);
                            border: 1px solid #31afd4;
                        }
                    }
                    
                    &.borderLeft {
                        border-left: 1px dashed #ffd1bb;
                    }
                }
            }
            
            &.hideLabels {
                .labels {
                    display: none;
                }
            }
            
            &:hover {
                .labels {
                    opacity: 1;
                }
                
                .labelsContainer {
                    display: block;
                }
            }
        }
    }
    
    > button {
        margin: 4px 6px;
        height: 80px;
    }
    
    .dropdownWidget {
        .noDescription {
            :global {
                .dropdown-container {
                    bottom: -12px;
                }
            }
        }
    }
}