@import "../../variables";

.panel {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: $baseline * 2 0;
    margin: 0 16px 16px 16px;
    width: 100%;
    max-width: 100%;
    position: relative;
    transition: max-width 0.2s ease, height 0.2s ease;
    
    .heading {
        margin-bottom: $baseline * 2;
    }

    .title {
        margin-bottom: 0;
        align-self: center;
    }
    
    .content {
        display: block;
    }
    
    .collapsedContent {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-content: center;
    }
    
    &:hover {
        .minimize {
            display: block;
        }
    }
    
    .minimize {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: $blue;
        opacity: 0.3;
        padding: 6px 3px;
        
        &:hover {
            opacity: 1;
        }
    }
    
    &.collapseHorizontally {
        max-width: 24px;
        overflow: hidden;
        
        .minimize {
            display: block;
            opacity: 1;
        }
        
        .heading {
            display: none;
        }
        
        .content {
            visibility: hidden;
        }
        
        .collapsedContent {
            display: none;
        }
    }
    
    &.collapseVertically {
        height: 48px !important;
        overflow: hidden;
        padding: 0;
        
        .heading {
            display: none;
        }

        .minimize {
            display: block;
            opacity: 1;
        }

        .content {
            display: none;
        }
    }
}