@import "../../../../variables";

.dropdownTests {

  hr {
    margin-top: $baseline / 2;
    margin-bottom: $baseline / 2;
  }

  .auto {
    width: auto;
  }

  .p25 {
    width: 25%;
  }

  .p50 {
    width: 50%;
  }

  .p100 {
    width: 100%;
  }

}
