@import "../../../../variables";

.taskHoursPanel {

  .grid {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    border: none;
  }
  
  .approvedRow {
    /* empty class, comment is to keep the class in compilation. remove if filled */
  }
  
  .notApprovedRow {
    /* empty class, comment is to keep the class in compilation. remove if filled */
  }
  
}