@import "../../../../variables";

.checkbox {
    cursor: pointer;
    position: relative;
    color: $orange;

    &.readonly {
        color: $grey;
    }

    i {
        vertical-align: middle;
    }
    
    .square {
        display: block;
        position: absolute;
        top: 6px;
        left: 4px;
        width: 16.4px;
        height: 15.4px;
        border-radius: 2px;
        background-color: #fe5000;
    }
}

.inlineRight {
    align-items: center;
    height: 100%;
    
    :global {
        .base-input-label {
            order: 2;
            margin-left: 0.5rem;
        }
    }

    label {
        cursor: pointer;
    }

    div:nth-child(2) {
        align-items: center;
        order: 1;
    }
}