@import "../../variables";

.footer {
    margin-top: auto;
    
    .upperFooter {
        display: flex;
        height: 120px;
        align-items: center;
        justify-content: space-around;
        background-color: $dark-gray;
        
        img {
            height: 42px;
            margin: 0 12px;
            position: absolute;
            left: 0;
        }
        
        .footerLinks {
            a {
                color: white;
                font-family: "DINProBold", Arial, sans-serif;
                margin: 0 3px;
                transition: all .3s;

                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    
    .lowerFooter {
        position: relative;
        background-color: black;
        color: white;
        width: 100%;
        text-align: center;
    }

    .version {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $dark-gray;
        font-size: 10px;
        padding-left: $baseline/2;
        padding-right: $baseline/2;
    }

    @media screen and (max-width: $break-lg) {
        display: none;
    }
}